USE [master]
GO
/****** Object:  Database [TourMate_Public]    Script Date: 7/5/2025 2:01:24 PM ******/
CREATE DATABASE [TourMate_Public]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourMate_Public', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Public.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourMate_Public_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Public_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourMate_Public].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourMate_Public]
GO
/****** Object:  Table [dbo].[ActiveArea]    Script Date: 7/5/2025 2:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveArea](
	[areaId] [int] IDENTITY(1,1) NOT NULL,
	[areaName] [nvarchar](255) NOT NULL,
	[areaTitle] [nvarchar](255) NOT NULL,
	[areaSubtitle] [nvarchar](255) NOT NULL,
	[areaContent] [nvarchar](max) NOT NULL,
	[bannerImg] [nvarchar](255) NOT NULL,
	[areaType] [nvarchar](50) NOT NULL,
	[createdAt] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 7/5/2025 2:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[newsId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[bannerImg] [nvarchar](255) NOT NULL,
	[category] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
